.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all linear .5s;
  transition:all linear .5s;
  -webkit-backface-visibility: hidden;
  display:block;
  width:100%;
  border-left:1px solid black;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.view-animate.ng-enter {
  opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
}

.ng-hide-add{
  @include vendorize(animation, 0.5s lightOut ease);
}

.ng-hide-remove{
  @include vendorize(animation, 0.5s lightIn ease);
}

@-webkit-keyframes lightOut{
  0%{
    opacity: 1
  }
  100%{
    opacity: 0;
  }
}

@keyframes lightOut{
  0%{
    opacity: 1
  }
  100%{
    opacity: 0;
  }
}

@-webkit-keyframes lightIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes lightIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}