html{
	width: 100%;
	height: 100%;
	font-size: 16px;
	margin: 0;
	color: white;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

body{
	width: 100%;
	height: 100%;
	background-color: black;
	margin: 0;
	overflow: hidden;
	text-align: center;
	// background: url(../img/sky2.jpg) no-repeat center center;
	background-color: cover;
	font-family: clan, helvetica, sans-serif;
}

a{
	text-decoration: none;
	color: white;
}

p{
	font-family: futura, 'Helvetica Neue', helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: normal !important;
}

button{
	font-family: clan, helvetica, sans-serif;
	font-weight: lighter;
}



[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer !important;
}


//REMOVE SCROLLBAR

::-webkit-scrollbar{
	display: none;
}



%border {
  position: fixed;
  background: black;
  @media (max-width: 1024px){
  	display: none;
  }
}

.border--top {
  @extend %border;
  width: 100%;
  height: 32px;
  top: 0;
  left: 0;
}

.border--right {
  @extend %border;
  height: 100%;
  width: 32px;
  top: 0;
  right: 0;
  z-index: 2;
}

.border--bottom {
  @extend %border;
  width: 100%;
  height: 32px;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.border--left {
  @extend %border;
  height: 100%;
  width: 32px;
  left: 0;
  top: 0;
  z-index: 2;
}

.bg--01 {
  background: url('../img/001.gif');
  background-size: contain;
  background-repeat: repeat-y;
  background-position: right;
}

.bg--02 {
  background: url('../img/002.gif');
  background-repeat: repeat-y;
  background-position: left;
  background-size: contain
} 

.bg--03 {
  background: url('../img/003.gif');
  background-position: top center;
  background-repeat: repeat-x;
  background-size: contain;
  // background-size: 7%;
}