.index-wrapper{
	position: absolute;
	margin: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	height: 100%;
	overflow: scroll;
	color: black;
	background-color:white;
	.info{
		position: fixed;
		top: 20px;
		right: 20px;
		width: 50px;
		height: 50px;
		i,a{
			line-height: 50px;
			font-size: 2em;
			color: black;
		}
	}

	h1{
		text-transform: uppercase;
		margin: 0;
		font-size: 3em;	
	}

	.logo{
		position: relative;
		display: block;
		text-align: center;
		margin: 0;
		margin-top: 20px;
		img{
			max-width: 60px;
		}
	}

	#player{
		margin-top: 0;
		iframe, object, embed{
			border-style: solid;
			border-width: 26px 0px 27px;
			-moz-border-image: url(http://www.animated-gifs.eu/kitchen-asian/0003.gif) 152 24 152 27 repeat;
			-webkit-border-image: url(http://www.animated-gifs.eu/kitchen-asian/0003.gif) 152 24 152 27 repeat;
			-o-border-image: url(http://www.animated-gifs.eu/kitchen-asian/0003.gif) 152 24 152 27 repeat;
			border-image: url(http://www.animated-gifs.eu/kitchen-asian/0003.gif) 152 24 152 27 fill repeat;
		}
	}

	.channel-group{
		margin-top: 15px;
		button{
			margin: 5px;
			color: black;
			background-color: white;
			border: 1px solid black;
			width: auto;
			min-width: 100px;
			text-transform: uppercase;
			height: 35px;
			outline: none;
			@include vendorize(box-shadow, 2px 2px 5px black);
			@include vendorize(transition, all .1s linear);
			&:hover, &:active{
				border: 1px solid black;
				@include vendorize(box-shadow, none);
				@include vendorize(transform, translateX(2px) translateY(2px));
			}
		}
	}
}