.index-wrapper{
	position: absolute;
	margin: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	color: white;
	background-color:black;
	.info{
		position: fixed;
		top: 20px;
		right: 50px;
		width: 50px;
		height: 50px;
		z-index: 9999;
		text-align: center;
		img{
			max-width: 100%;
			border-radius: 50%;
			color: white;
			-webkit-font-smoothing: antialiased;
			@include vendorize(transition, all .2s linear);
			&:hover{
				@include vendorize(transform, rotate(20deg));
			}
		}
	}








	.player{
		opacity: 1;
		margin: 0;
		width: 90%;
		position: relative;
		padding-bottom: 45%;
		padding-top: 0;
		height: 10%;
		overflow: hidden;
		margin-left: 5%;
		z-index: 999;
		div{
			width: 100%;
			height: 100%;
			iframe, object, embed{
				position: absolute;
				top: 0;
				left: 0;
				width: 100% !important;
				height: 100% !important;
			}
		}

	}


	.player-frame{
		opacity: 1;
		border-bottom: 2px solid white;
		// box-sizing: border-box;
		@include vendorize(background-size, cover);
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;
		display: block;
		margin: 0;
		top: 0;
		width:100%;
		height: 100%;
		overflow: hidden;
		.title-wrapper{
			width: 100%;
			height: 100%;
			margin: 0;
		}

		.prev-episode{
			position: relative;
			width: 10%;
			margin: 0;
			text-align: center;
			margin-left: 45%;
			margin-top: 40px;
			@include vendorize(transition, all .1s linear);
			img{
				max-width: 100%;
			}
			&:hover{
				@include vendorize(transform, scale(1.1));
			}
		}

		.title{
			position: relative;
			top: 15%;
			background: url(../img/title.svg) no-repeat center center;
			background-size: 100%;
			width: 30%;
			left: 35%;
			height: 35%;
			&.last{
				top: -30px;
			}
		}

		.play-button{
			width: 20%;
			height: 15%;
			position: relative;
			background: url(../img/play.svg) no-repeat center center;
			background-size: contain;
			z-index: 3;
			margin-top: 7.5%;
			margin-bottom: 0;
			left: 40%;
			@include vendorize(transition, all .1s linear);
			&.last{
				margin-top: -20px;
			}
			&:hover{
				@include vendorize(transform, scale(1.025));
			}
		}

		.episode-title{
			position: relative;
			width: 16%;
			text-align: center;
			margin-left: 42%;
			margin-top: 0;
			
			img{
				max-width: 100%;
			}
			&.last{
				margin-top: 10px;
			}

		}

		.next-episode{
			position: relative;
			width: 10%;
			text-align: center;
			margin-left: 45%;
			margin-top: 30px;
			@include vendorize(transition, all .1s linear);
			img{
				max-width: 100%;
			}
			&:hover{
				@include vendorize(transform, scale(1.1));
			}
		}
		&.black{
			background-image: none !important;
		}
	}


}


%border {
  position: fixed;
  background: black;
}

.border--top {
  @extend %border;
  width: 100%;
  height: 32px;
  top: 0;
  left: 0;
}

.border--right {
  @extend %border;
  height: 100%;
  width: 32px;
  top: 0;
  right: 0;
  z-index: 2;
}

.border--bottom {
  @extend %border;
  width: 100%;
  height: 32px;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.border--left {
  @extend %border;
  height: 100%;
  width: 32px;
  left: 0;
  top: 0;
  z-index: 2;
}

.bg--01 {
  background: url('../img/001.gif');
  background-size: 100%;
  background-repeat: repeat-y;
  background-position: right;
}

.bg--02 {
  background: url('../img/002.gif');
  background-repeat: repeat-y;
  background-position: left;
  background-size: 100%;
} 

.bg--03 {
  background: url('../img/003.gif');
  background-size: 500px;
  background-position: bottom;
  background-repeat: repeat-x;
}