/*
 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * redbullmusicacademy.com
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 */
@font-face {
  font-family: clan;
  src: url("../fonts/clanpro-narrultra-webfont.eot");
  src: url("../fonts/clanpro-narrultra-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/clanpro-narrultra-webfont.woff2") format("woff2"), url("../fonts/clanpro-narrultra-webfont.woff") format("woff"), url("../fonts/clanpro-narrultra-webfont.ttf") format("truetype"), url("../fonts/clanpro-narrultra-webfont.svg#clan_pronarrow_ultra") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  margin: 0;
  color: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  width: 100%;
  height: 100%;
  background-color: black;
  margin: 0;
  overflow: hidden;
  text-align: center;
  background-color: cover;
  font-family: clan, helvetica, sans-serif; }

a {
  text-decoration: none;
  color: white; }

p {
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: normal !important; }

button {
  font-family: clan, helvetica, sans-serif;
  font-weight: lighter; }

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer !important; }

::-webkit-scrollbar {
  display: none; }

.index-wrapper {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  color: white;
  background-color: black; }
  .index-wrapper .info {
    position: fixed;
    top: 20px;
    right: 40px;
    width: 50px;
    height: 50px;
    z-index: 999; }
    .index-wrapper .info i, .index-wrapper .info a {
      line-height: 50px;
      font-size: 2em;
      padding-left: 10px;
      padding-right: 10px;
      color: white;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
  .index-wrapper .player {
    opacity: 1;
    margin: 0;
    width: 90%;
    position: relative;
    padding-bottom: 45%;
    padding-top: 0;
    height: 10%;
    overflow: hidden;
    margin-left: 5%;
    z-index: 99; }
    .index-wrapper .player div {
      width: 100%;
      height: 100%; }
      .index-wrapper .player div iframe, .index-wrapper .player div object, .index-wrapper .player div embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important; }
  .index-wrapper .player-frame {
    opacity: 1;
    border-bottom: 10px solid white;
    box-sizing: border-box;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: block;
    margin: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .index-wrapper .player-frame .play-button {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: transparent;
      z-index: 9;
      top: 0;
      left: 0; }
    .index-wrapper .player-frame.black {
      background-image: none !important; }

.border--top, .border--right, .border--bottom, .border--left {
  position: fixed;
  background: black; }

.border--top {
  width: 100%;
  height: 32px;
  top: 0;
  left: 0; }

.border--right {
  height: 100%;
  width: 32px;
  top: 0;
  right: 0;
  z-index: 2; }

.border--bottom {
  width: 100%;
  height: 32px;
  bottom: 0;
  left: 0;
  z-index: 1; }

.border--left {
  height: 100%;
  width: 32px;
  left: 0;
  top: 0;
  z-index: 2; }

.bg--01 {
  background: url("../img/001.gif");
  background-size: 100%;
  background-repeat: repeat-y;
  background-position: right; }

.bg--02 {
  background: url("../img/002.gif");
  background-repeat: repeat-y;
  background-position: left;
  background-size: 100%; }

.bg--03 {
  background: url("../img/003.gif");
  background-size: 500px;
  background-position: bottom;
  background-repeat: repeat-x; }

.info-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 !important;
  background-color: white;
  color: black; }
  .info-wrapper iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .info-wrapper .info {
    position: fixed;
    top: 20px;
    right: 40px;
    width: 50px;
    height: 50px;
    color: white;
    z-index: 9999; }
    .info-wrapper .info i, .info-wrapper .info a {
      line-height: 50px;
      font-size: 2em;
      color: white; }
  .info-wrapper .text-box {
    width: 60%;
    position: relative;
    left: 20%;
    top: 10%;
    height: 60%;
    overflow-y: scroll;
    background-color: white;
    color: black;
    opacity: 0.95;
    padding-bottom: 100px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px; }
    .info-wrapper .text-box h1 {
      font-size: 3em;
      text-transform: uppercase;
      margin: 0; }
    .info-wrapper .text-box .logo {
      position: relative;
      display: block;
      text-align: center;
      margin: 0;
      margin-top: 20px; }
      .info-wrapper .text-box .logo img {
        max-width: 50px; }
    .info-wrapper .text-box a, .info-wrapper .text-box i {
      color: black; }
    .info-wrapper .text-box p {
      width: 90%;
      margin-left: 5%;
      line-height: 1.5;
      font-weight: lighter; }
    .info-wrapper .text-box h3.subhead, .info-wrapper .text-box h3.casthead {
      margin-top: 20%;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2em; }
      .info-wrapper .text-box h3.subhead:after, .info-wrapper .text-box h3.casthead:after {
        content: '';
        display: block;
        width: 20%;
        margin-left: 40%;
        height: 4px;
        background-color: black; }
    .info-wrapper .text-box .sushi, .info-wrapper .text-box .cast {
      text-align: left;
      width: 100%;
      height: auto;
      display: block; }
      .info-wrapper .text-box .sushi .item, .info-wrapper .text-box .cast .item {
        display: block;
        width: 100%;
        position: relative;
        height: 200px;
        box-sizing: border-box; }
        .info-wrapper .text-box .sushi .item .image, .info-wrapper .text-box .cast .item .image {
          position: absolute;
          left: 5%;
          top: 0;
          width: 40%;
          height: 100%;
          display: inline;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center; }
        .info-wrapper .text-box .sushi .item .text, .info-wrapper .text-box .cast .item .text {
          position: absolute;
          right: 0;
          top: 0;
          float: right;
          display: inline;
          width: 50%; }
          .info-wrapper .text-box .sushi .item .text h3, .info-wrapper .text-box .cast .item .text h3 {
            margin-left: 5%; }
          .info-wrapper .text-box .sushi .item .text p, .info-wrapper .text-box .cast .item .text p {
            max-width: 90%;
            margin-left: 5%; }

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition: all linear .5s;
  transition: all linear .5s;
  -webkit-backface-visibility: hidden;
  display: block;
  width: 100%;
  border-left: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px; }

.view-animate.ng-enter {
  opacity: 0; }

.view-animate.ng-enter.ng-enter-active {
  opacity: 1; }

.view-animate.ng-leave.ng-leave-active {
  opacity: 0; }
