
<div class="index-wrapper">
  <div class="logo"><img src="img/logo.png"/></div>
  <div class="info"><a href="#/info" class="fa fa-info-circle"></a></div>
  <h1>{{sushi.fields.title}}</h1>
  <div id="player"></div>
  <div class="channel-group">
    <button data-episode="{{sushi.fields.brightcoveId1}}" ng-click="switchVid(sushi.fields.brightcoveId1)">Tokimonsta</button>
    <button data-episode="{{sushi.fields.brightcoveId2}}" ng-click="switchVid(sushi.fields.brightcoveId2)">Just Blaze</button>
    <button data-episode="{{sushi.fields.brightcoveId3}}" ng-click="switchVid(sushi.fields.brightcoveId3)">Some Other</button>
  </div>
</div>