.index-wrapper
	.info
		a(class="fa fa-info-circle", href="#/info")

	
	//- SUSHI BORDERS
	.border--right.bg--01
	.border--left.bg--02
	.border--bottom.bg--03


	.player-frame(ng-repeat="episode in sushi.fields.episodes", ng-class="{black: clicked{{$index}}}", style="background-image:url({{episode.fields.image.fields.file.url}})")
		.play-button(ng-click="playVideo($index)")
		.player(ng-show="clicked{{$index}}")
			div(ng-bind-html="trust(episode.fields.brightcoveId)")


	
	//- .player-frame-1
	//- 	.play-button(ng-click="playVideo()")
	//- 	div(id="player", ng-class="{visible: playing}")

	//- .player-frame-2
	//- 	.play-button(ng-click="playVideo2()")
	//- 	div(id="player2", ng-class="{visible: playing2}")


	//- .channel-group
	//- 	button(data-episode="{{sushi.fields.brightcoveId1}}", ng-click="switchVid(sushi.fields.brightcoveId1)") Tokimonsta
	//- 	button(data-episode="{{sushi.fields.brightcoveId2}}", ng-click="switchVid(sushi.fields.brightcoveId2)") Just Blaze
	//- 	button(data-episode="{{sushi.fields.brightcoveId3}}", ng-click="switchVid(sushi.fields.brightcoveId3)") Some Other