
<div du-scroll-container="du-scroll-container" class="index-wrapper">
  <div class="info"><a href="#/info"><img src="img/info-button.svg"/></a></div>
  <div class="border--right bg--01"></div>
  <div class="border--left bg--02"></div>
  <div shrink="shrink" class="border--bottom bg--03"></div>
  <div id="player" ng-class="{stack: videoPlaying}"></div>
  <div ng-show="videoPlaying" ng-click="closePlayer()" class="player-exit"></div>
  <div ng-repeat="episode in sushi.fields.episodes" ng-show="!videoPlaying" style="background-image:url({{episode.fields.image.fields.file.url}})" ng-if="!$last" id="{{$index}}" class="player-frame">
    <div ng-show="!videoPlaying" class="title-wrapper">
      <div class="title"></div>
      <div ng-click="playVideo(episode.fields.brightcoveId)" class="play-button"></div>
      <div class="episode-title"><img ng-src="{{episode.fields.artistTextImage.fields.file.url}}"/></div>
      <div class="next-episode"><a ng-href="#{{$index + 1}}" du-smooth-scroll="du-smooth-scroll"><img ng-src="{{episode.fields.nextArtistTextImage.fields.file.url}}"/></a></div>
    </div>
  </div>
  <div ng-repeat="episode in sushi.fields.episodes" ng-show="!videoPlaying" style="background-image:url({{episode.fields.image.fields.file.url}})" ng-if="$last" id="{{$index}}" class="player-frame">
    <div ng-show="!videoPlaying" class="title-wrapper">
      <div class="prev-episode"><a ng-href="#{{$index - 1}}" du-smooth-scroll="du-smooth-scroll"><img ng-src="{{episode.fields.nextArtistTextImage.fields.file.url}}"/></a></div>
      <div class="title last"></div>
      <div ng-click="playVideo(episode.fields.brightcoveId)" class="play-button last"></div>
      <div class="episode-title last"><img ng-src="{{episode.fields.artistTextImage.fields.file.url}}"/></div>
    </div>
  </div>
</div>