
<div class="info-wrapper">
  <div class="info"><a href="#/" class="fa fa-times"></a></div>
  <div class="border--right bg--01"></div>
  <div class="border--left bg--02"></div>
  <div shrink="shrink" class="border--bottom bg--03"></div>
  <div du-scroll-container="du-scroll-container" class="text-box">
    <div class="border-bottom"></div>
    <div class="logo"><img src="img/title-black.svg"/></div>
    <p>{{sushi.fields.infoDescription}}</p><a href="#menu" du-smooth-scroll="du-smooth-scroll" offset="30" class="fa fa-angle-double-down"></a>
    <h3 id="menu" class="subhead">Menu</h3>
    <div class="sushi">			
      <div ng-repeat="item in sushi.fields.sushiTypes" class="item">
        <div style="background-image:url({{item.fields.image.fields.file.url}})" class="image"></div>
        <div class="text">
          <h3>{{item.fields.title}}</h3>
          <p>{{item.fields.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>