.info-wrapper
	iframe(fullsize, src="http://edweena.github.io/sushi-3d/index.html", seamless, frameborder=0)

	.info
		a(class="fa fa-times", href="#/")

	
	.text-box(du-scroll-container)
		.logo
			img(src="img/logo-invert.png")
		h1 {{sushi.fields.title}}
		p {{sushi.fields.infoDescription}}
		a(href="#cast", du-smooth-scroll, class="fa fa-angle-double-down")
		

		h3(class="casthead", id="cast") Cast
		.cast
			.item
				.image(style="background-image:url(img/justblaze.jpg)")
				.text
					h3 Just Blaze
					p A lean cut of tuna. This is the inexpensive variety of tuna. When it comes to tuna, fatty cuts are more expensive.






		h3(class="subhead") Common Sushi Types
		.sushi
			
			.item
				.image(style="background-image:url(img/sake.jpg)")
				.text
					h3 Sake
					p A lean cut of tuna. This is the inexpensive variety of tuna. When it comes to tuna, fatty cuts are more expensive.
			
			.item
				.image(style="background-image:url(img/maguro.jpg)")
				.text
					h3 Maguro
					p A lean cut of tuna. This is the inexpensive variety of tuna. When it comes to tuna, fatty cuts are more expensive.  

			.item
				.image(style="background-image:url(img/uni.jpg)")
				.text
					h3 Uni
					p A lean cut of tuna. This is the inexpensive variety of tuna. When it comes to tuna, fatty cuts are more expensive.

			.item
				.image(style="background-image:url(img/tako.jpg)")
				.text
					h3 Tako
					p A lean cut of tuna. This is the inexpensive variety of tuna. When it comes to tuna, fatty cuts are more expensive. 

			.item
				.image(style="background-image:url(img/roe.jpg)")
				.text
					h3 Tobiko
					p A lean cut of tuna. This is the inexpensive variety of tuna. When it comes to tuna, fatty cuts are more expensive.

			.item
				.image(style="background-image:url(img/ika.jpg)")
				.text
					h3 Ika
					p A lean cut of tuna. This is the inexpensive variety of tuna. When it comes to tuna, fatty cuts are more expensive.


			.item
				.image(style="background-image:url(img/unagi.jpg)")
				.text
					h3 Unagi
					p A lean cut of tuna. This is the inexpensive variety of tuna. When it comes to tuna, fatty cuts are more expensive.


			.item
				.image(style="background-image:url(img/ebi.jpg)")
				.text
					h3 Ebi
					p A lean cut of tuna. This is the inexpensive variety of tuna. When it comes to tuna, fatty cuts are more expensive.  

	