
<div class="info-wrapper">
  <iframe fullsize="fullsize" src="http://edweena.github.io/sushi-3d/index.html" seamless="seamless" frameborder="0"></iframe>
  <div class="info"><a ng-href="/" class="fa fa-times"></a></div>
  <div du-scroll-container="du-scroll-container" class="text-box">
    <div class="logo"><img src="img/logo-invert.png"/></div>
    <h1>{{sushi.fields.title}}</h1>
    <p>{{sushi.fields.infoDescription}}</p><a href="#cast" du-smooth-scroll="du-smooth-scroll" class="fa fa-angle-double-down"></a>
    <h3 id="cast" class="casthead">Cast</h3>
    <div class="cast">
      <div class="item">
        <div style="background-image:url(img/justblaze.jpg)" class="image"></div>
        <div class="text">
          <h3>Just Blaze</h3>
          <p>A lean cut of tuna. This is the inexpensive variety of tuna. When it comes to tuna, fatty cuts are more expensive.</p>
        </div>
      </div>
    </div>
    <h3 class="subhead">Some Common Sushi Types</h3>
    <div class="sushi">
      <div class="item">
        <div style="background-image:url(img/sake.jpg)" class="image"></div>
        <div class="text">
          <h3>Sake</h3>
          <p>A lean cut of tuna. This is the inexpensive variety of tuna. When it comes to tuna, fatty cuts are more expensive.</p>
        </div>
      </div>
      <div class="item">
        <div style="background-image:url(img/maguro.jpg)" class="image"></div>
        <div class="text">
          <h3>Maguro</h3>
          <p>A lean cut of tuna. This is the inexpensive variety of tuna. When it comes to tuna, fatty cuts are more expensive.  </p>
        </div>
      </div>
      <div class="item">
        <div style="background-image:url(img/uni.jpg)" class="image"></div>
        <div class="text">
          <h3>Uni</h3>
          <p>A lean cut of tuna. This is the inexpensive variety of tuna. When it comes to tuna, fatty cuts are more expensive.</p>
        </div>
      </div>
      <div class="item">
        <div style="background-image:url(img/tako.jpg)" class="image"></div>
        <div class="text">
          <h3>Tako</h3>
          <p>A lean cut of tuna. This is the inexpensive variety of tuna. When it comes to tuna, fatty cuts are more expensive. </p>
        </div>
      </div>
      <div class="item">
        <div style="background-image:url(img/roe.jpg)" class="image"></div>
        <div class="text">
          <h3>Tobiko</h3>
          <p>A lean cut of tuna. This is the inexpensive variety of tuna. When it comes to tuna, fatty cuts are more expensive.</p>
        </div>
      </div>
      <div class="item">
        <div style="background-image:url(img/ika.jpg)" class="image"></div>
        <div class="text">
          <h3>Ika</h3>
          <p>A lean cut of tuna. This is the inexpensive variety of tuna. When it comes to tuna, fatty cuts are more expensive.</p>
        </div>
      </div>
      <div class="item">
        <div style="background-image:url(img/unagi.jpg)" class="image"></div>
        <div class="text">
          <h3>Unagi</h3>
          <p>A lean cut of tuna. This is the inexpensive variety of tuna. When it comes to tuna, fatty cuts are more expensive.</p>
        </div>
      </div>
      <div class="item">
        <div style="background-image:url(img/ebi.jpg)" class="image"></div>
        <div class="text">
          <h3>Ebi</h3>
          <p>A lean cut of tuna. This is the inexpensive variety of tuna. When it comes to tuna, fatty cuts are more expensive.  </p>
        </div>
      </div>
    </div>
  </div>
</div>