
<div class="info-wrapper">
  <iframe fullsize="fullsize" src="http://edweena.github.io/sushi-3d/index.html" seamless="seamless" width="100%" height="500px" frameborder="0" class="threed"></iframe>
  <div class="info"><a href="#/"><img src="img/exit-white.svg"/><img src="img/exit-black.svg" class="black"/></a></div>
  <div class="border--right bg--01"></div>
  <div class="border--left bg--02"></div>
  <div shrink="shrink" class="border--bottom bg--03"></div>
  <div du-scroll-container="du-scroll-container" class="text-box">
    <div class="info-intro">
      <div class="logo"><img src="img/title-black.svg"/></div>
      <div ng-bind-html="trust(sushi.fields.infoDescription)"></div><a href="#menu" du-smooth-scroll="du-smooth-scroll" class="fa fa-angle-double-down"></a>
    </div>
    <div class="sushi">
      <h3 id="menu" class="subhead">Menu	</h3>
      <div ng-repeat="item in sushi.fields.sushiTypes" class="item">
        <div style="background-image:url({{item.fields.image.fields.file.url}})" class="image"></div>
        <div class="text">
          <h3>{{item.fields.title}}</h3>
          <p>{{item.fields.description}}</p>
        </div>
      </div>
    </div>
    <div class="button-group">
      <div class="button"><a href="https://twitter.com/share?url={{sushi.fields.shareUrl}}/&amp;text={{sushi.fields.twitterShareText}}" target="blank"><span class="fa fa-twitter"></span></a></div>
      <div class="button"><a href="https://www.facebook.com/sharer/sharer.php?u={{sushi.fields.shareUrl}}/" target="blank"><span class="fa fa-facebook"></span></a></div>
    </div>
  </div>
</div>