.info-wrapper
	//-iframe(fullsize, src="http://edweena.github.io/sushi-3d/index.html", seamless, width="100%", height="500px", frameborder=0)

	.info
		a(class="fa fa-times", href="#/")


	//- SUSHI BORDERS
	.border--right.bg--01
	.border--left.bg--02
	.border--bottom.bg--03(shrink)

	
	.text-box(du-scroll-container)
		//- .border-top
		.border-bottom
		.logo
			img(src="img/title-black.svg")
		p {{sushi.fields.infoDescription}}
		a(href="#menu", du-smooth-scroll, offset="30", class="fa fa-angle-double-down")
		


		h3(class="subhead", id="menu") Menu
		.sushi			
			.item(ng-repeat="item in sushi.fields.sushiTypes")
				.image(style="background-image:url({{item.fields.image.fields.file.url}})")
				.text
					h3 {{item.fields.title}}
					p {{item.fields.description}}
	