doctype html
html(lang="en", ng-app="sushi")
	//-
	//-$$$$$$$  /$$$$$$$   /$$$$$$ 
	//-| $$__  $$| $$__  $$ /$$__  $$
	//-| $$  \ $$| $$  \ $$| $$  \__/
	//-| $$$$$$$/| $$  | $$|  $$$$$$ 
	//-| $$__  $$| $$  | $$ \____  $$
	//-| $$  \ $$| $$  | $$ /$$  \ $$
	//-| $$  | $$| $$$$$$$/|  $$$$$$/
	//-|__/  |__/|_______/  \______/ 
                              
                              
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="robots" content="index,follow")
		meta(name="fragment", content="!")
		link(rel="icon", type="image/x-icon", href="/favicon.ico")
		link(rel="prefetch", href="http://edweena.github.io/sushi-3d/index.html")


		title Sushi Sequencer


		link(rel="stylesheet", type="text/css", href="bower_components/nprogress/nprogress.css")
		link(rel="stylesheet", type="text/css", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="css/main.css")



		//- TWITTER
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:site" content="@rbma_jp")
		meta(name="twitter:title" content="Top 10 Rising Japanese Electronic Music Producers")
		meta(name="twitter:description" content="今世界が注目すべき、10名の日本出身エレクトロニック・ミュージック・プロデューサー")
		meta(name="twitter:creator" content="@rbma_jp")
		meta(name="twitter:image:src" content="http://images.contentful.com/6s2rqhmim2vw/1L5m8GslmMMIYCMG4CcKky/2e8ce200c15d5e39152838ad988d3cd0/hiroaki-iizuka.jpg")

		meta(property="og:title" content="Top 10 Rising Japanese Electronic Music Producers")
		meta(property="og:type" content="article")
		meta(property="og:url" content="http://www.redbullmusicacademy.jp/features/top-ten-rising-japanese-electronic-music-producers/")
		meta(property="og:image" content="http://images.contentful.com/6s2rqhmim2vw/1L5m8GslmMMIYCMG4CcKky/2e8ce200c15d5e39152838ad988d3cd0/hiroaki-iizuka.jpg")
		meta(property="og:description" content="今世界が注目すべき、10名の日本出身エレクトロニック・ミュージック・プロデューサー")
		meta(property="og:site_name" content="Red Bull Music Academy")
		meta(property="fb:admins", content="100006789941377")

		link(rel="author" href="https://plus.google.com/+RBMA/posts")
		link(rel="publisher" href="https://plus.google.com/+RBMA")

		meta(name="description", content="今世界が注目すべき、10名の日本出身エレクトロニック・ミュージック・プロデューサー")



	body(class="frame-body")
		div(ng-view, class="view-animate")

		
		


		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(type="text/javascript", src="//admin.brightcove.com/js/BrightcoveExperiences.js")
		script(type="text/javascript", src="bower_components/angular/angular.js")
		script(type="text/javascript", src="bower_components/angular-route/angular-route.js")
		script(type="text/javascript", src="bower_components/angular-sanitize/angular-sanitize.min.js")
		script(type="text/javascript", src="bower_components/angular-animate/angular-animate.min.js")
		script(type="text/javascript", src="bower_components/contentful/dist/contentful.js")
		script(type="text/javascript", src="bower_components/ng-contentful/ng-contentful.js")
		script(type="text/javascript", src="bower_components/handlebars/handlebars.min.js")
		script(type="text/javascript", src="bower_components/showdown/compressed/showdown.js")
		script(type="text/javascript", src="bower_components/angular-scroll/angular-scroll.min.js")
		script(type="text/javascript", src="bower_components/three.js/three.min.js")
		script(type="text/javascript", src="js/app.js")
		script(src="js/controllers.js")
		script(src="js/directives.js")
		script(src="js/services.js")
